
.icon-component__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.icon-component_image__container {
    width: 100px;
    height: 100px;
}

.icon-component_image__container img {
    width: 100%;
    height: 100%;
}