.title__container {
  display: flex;
  justify-content: center;
}
.main-title {
  font-size: 30px;
  max-width: 600px;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}
