.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
}

.button__container {
  display: flex;
  justify-content: center;
}
