
.slide__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .slide__item {
    display: flex;
    align-items: center;
    cursor: move;
    line-height: 1;
    margin-bottom: 0.1em;
    border-radius: 5px;

  }
}